{% extends "Elearning/index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQS</title>
</head>
{% block content %}
<body>
    
    <p>Frequently Asked Questions</p>
    <p>What is eLearning?</p>
    <p>How effective is online learning?</p>
    <p>What are the challenges of online learning?</p>
    <p>How does eLearning work?</p>
    <p>Does e-course learning come with any kind of proof?</p>
    <p>Do employers value e-course learning?</p>
    <p>How do eLearning College’s free online courses work?</p>
    <p>How can you offer your online courses for free?</p>
    <p>Can I take more than one free online course at the same time?</p>
    <p>What are the different kinds of certificates you offer?</p>
    <p>What is the benefit of claiming an endorsed certificate or diploma?</p>
    <p>What are the different types of eLearning?</p>
    <p>How do your video-based eLearning courses work?</p>
    <p>Do I need to take an exam at the end of the course?</p>
    <p>Do I need prior knowledge or experience of the subject to take a free course?</p>
    <p>What is the difference between a certificate course and a diploma course?</p>
    <p>What equipment do I need to take an eLearning course?</p>
    <p></p>Do your free online courses include dedicated tutor support?</p>
    <p></p>How can eLearning benefit students?</p>
    <p></p>What is the purpose of eLearning?</p>
    <p></p>Why is eLearning important?</p>
    <p></p>What are eLearning platforms?</p>
    <p></p>What are the 3 main advantages of eLearning?</p>
    <p></p>What is the difference between eLearning and online learning?</p>
    <p></p>What is the best eLearning website?</p>


</body>
{% endblock content %}
</html>